---
layout: default
title: Inscrutable
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">
					Empowering the Voiceless and Underserved
				</h1>
				<p class="editable">
					We believe in our power to drive meaningful change in the world. We provide innovative solutions to pressing problems and empower people to make the most of their lives. We strive to make the world a better place for everyone and help build a sustainable and equitable future for generations. We are committed to ensuring that our services are tailored to meet the changing needs of our clients. We value collaboration and communication and build lasting relationships with our partners and clients.
				</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep" />
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">
		We provide essential support to those in need
	</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">
				Empowering the Voiceless
			</h3>
			<p class="editable">
				We believe that everyone deserves a voice. That's why we work tirelessly to provide support and resources to underserved and marginalized communities, empowering them to speak out and be heard.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">
				Promoting Social Justice
			</h3>
			<p class="editable">
				We are committed to promoting social justice and equality for all. We believe that everyone deserves the same opportunities and rights, and we work tirelessly to create a more fair and just world.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">
				Making a Difference
			</h3>
			<p class="editable">
				We know that even the smallest actions can make a big difference. That's why we are dedicated to providing support and resources to those who need it most, helping to create positive change and improve the lives of others.
			</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep" />
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">
				Our mission is to provide innovative solutions to pressing problems, create new opportunities for businesses, and empower people to make the most of their lives. We strive to make the world a better place for everyone and help build a sustainable, equitable, and prosperous future for generations to come.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<hr />
	<blockquote>
		<p class="quote editable">
			I have long been a supporter of Inscrutable.org, and I have seen firsthand the incredible work they do. From providing support to underserved communities to promoting social justice and equality, Inscrutable.org truly makes a positive impact on the world. I am proud to support their important mission.
		</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/DALLE-2022-12-13-16.24.13---photograph-of-a-philanthropist.png" alt="MM" /></span>
				<span class="author editable"><strong>Martin McCandless, BA, DNP, BSN, MSNBC, BLS, HGT, PhilanthropistV</strong></span>
			</p>
		</div>
	</blockquote>
	<blockquote>
		<p class="quote editable">
			Inscrutable.org has been a lifesaver for my family. Their support and resources have helped us through tough times, and I am grateful for all they do.
		</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/DALL·E 2022-12-16 14.53.17 - a portrait of a woman named sarah who receives charity.png" alt="MM" /></span>
				<span class="author editable"><strong>Sarah, a beneficiary of Inscrutable.org's services</strong></span>
			</p>
		</div>
	</blockquote>
	<blockquote>
		<p class="quote editable">
			I have been a volunteer with Inscrutable.org for several years now, and I am consistently impressed by the dedication and passion of the team. They truly make a difference in the lives of those who need it most.
		</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/DALL·E 2022-12-16 14.54.13 - a photograph of a guy named dave performing a charitable act.png" alt="MM" /></span>
				<span class="author editable"><strong>Dave, a volunteer with Inscrutable.org</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">
			Sign up to hear the latest news and progress in our fight for the beneficiaries of our mission.
		</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<p class="editable">
		Our team is made up of passionate and dedicated individuals who are committed to making a positive impact in the world. We strive to promote equality and social justice for all, and we believe that everyone has something valuable to contribute.

		But we can't do it alone. We need your help to make a difference. By joining the Inscrutable.org movement, you can help us empower the voiceless and underserved. Together, we can create a better world for all.

		Thank you for considering a donation to Inscrutable.org. Your support will help us continue our important work, and make a real difference in the lives of those who need it most.
	</p>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>
