---
layout: default
title: Inscrutable
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">
					Empowering the Voiceless and Underserved
				</h1>
				<p class="editable">
					At Inscrutable, we believe in the power of technology to drive meaningful change in the world
				</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep" />
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">
		We provide essential support to those in need
	</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">
				Empowering the Voiceless
			</h3>
			<p class="editable">
				We believe that everyone deserves a voice. That's why we work tirelessly to provide support and resources to underserved and marginalized communities, empowering them to speak out and be heard.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">
				Promoting Social Justice
			</h3>
			<p class="editable">
				We are committed to promoting social justice and equality for all. We believe that everyone deserves the same opportunities and rights, and we work tirelessly to create a more fair and just world.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">
				Making a Difference
			</h3>
			<p class="editable">
				We know that even the smallest actions can make a big difference. That's why we are dedicated to providing support and resources to those who need it most, helping to create positive change and improve the lives of others.
			</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep" />
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">
				Our mission is to provide innovative solutions to pressing problems, create new opportunities for businesses, and empower people to make the most of their lives. We strive to make the world a better place for everyone and help build a sustainable, equitable, and prosperous future for generations to come.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<hr />
	<blockquote>
		<p class="quote editable">
			I have been a long-time supporter of Inscrutable.org, and I have seen firsthand the incredible work that they do. From providing support to underserved communities, to promoting social justice and equality, Inscrutable.org truly makes a positive impact in the world. I am proud to support their important mission.
		</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly" /></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
